{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main">

  <!-- Page Title -->
  <div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Resume</h1>
            <p class="mb-0">Here's Some of my Works And Professional Education.</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'website:index' %}">Home</a></li>
          <li class="current">Resume</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->

  <!-- Resume Section -->
  <section id="resume" class="resume section">

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>

          <div class="resume-item pb-0">
            <h4>Hossein Abbassi</h4>
            <p><em>2 Years of Python And 8 Years of Linux Professional Experience.</em>
            </p>
            <ul>
              <li>Omidiyeh Khuzestan Iran</li>
              <li>09160318705</li>
              <li>hosseinabbasi80@gmail.com</li>
            </ul>
          </div><!-- End Resume Item -->

          <h3 class="resume-title">Education</h3>

          <div class="resume-item">
            <h4>Django Framework</h4>
            <h5>2024</h5>
            <p><em>Online Academy of Specialies Maktabkhooneh.org</em></p>
            <p>Learning Django Framework in Maktabkhooneh Online Institute.
            </p>
          </div><!-- End Resume Item -->

          <div class="resume-item">
            <h4>Python Professional &amp; Object-Oriented</h4>
            <h5>2022 - 2023</h5>
            <p><em>Online Specialized Programming Institute of Nabegheha.com</em></p>
            <p>One Year of Learning Python in Nabegheha Online Institute.
            </p>
          </div><!-- End Resume Item -->

          <div class="resume-item">
            <h4>Military Service</h4>
            <h5>2021 - 2022</h5>
            <p><em>Military Service from February 2021 till July 2022 in Bushehr Iran.</em></p>
            <p>End of Military Service.</p>
          </div><!-- End Resume Item -->

          <div class="resume-item">
            <h4>Linux &amp; Lpic-1</h4>
            <h5>2018 - 2020</h5>
            <p><em>Online Specialized Programming Institute of Nabegheha.com</em></p>
            <p>Self-taught Linux from 2016 - 2018 And Lpic-1 Professional Linux Learning
              in Nabegheha Online Institute.
            </p>
          </div><!-- End Resume Item -->

          <div class="resume-item">
            <h4>Diploma Degree Mathematics</h4>
            <h5>2018</h5>
            <p><em>Imam Reza HIghscool Omidiyeh Khuzestan</em></p>
          </div><!-- Edn Resume Item -->

        </div>

      </div>

  </section><!-- /Resume Section -->
  <!-- Interests Section -->
  <section id="interests" class="interests section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Features</h2>
      <div><span>I'm</span> <span class="description-title">interested in</span></div>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="features-item">
            <i class="bi bi-cup-hot-fill" style="color: #ffbb2c;"></i>
            <h3><a href="" class="stretched-link">Team Work</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="features-item">
            <i class="bi bi-terminal-fill" style="color: #5578ff;"></i>
            <h3><a href="" class="stretched-link">Tech</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="features-item">
            <i class="bi bi-laptop" style="color: #e80368;"></i>
            <h3><a href="" class="stretched-link">Computer Sience</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
          <div class="features-item">
            <i class="bi bi-git" style="color: #e361ff;"></i>
            <h3><a href="" class="stretched-link">Git Source Control</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
          <div class="features-item">
            <i class="bi bi-code-slash" style="color: #47aeff;"></i>
            <h3><a href="" class="stretched-link">Coding</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
          <div class="features-item">
            <i class="bi bi-translate" style="color: #ffa76e;"></i>
            <h3><a href="" class="stretched-link">English</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
          <div class="features-item">
            <i class="bi bi-filetype-py" style="color: #11dbcf;"></i>
            <h3><a href="" class="stretched-link">Python</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
          <div class="features-item">
            <i class="bi bi-browser-chrome" style="color: #4233ff;"></i>
            <h3><a href="" class="stretched-link">Web</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="900">
          <div class="features-item">
            <i class="bi bi-windows" style="color: #b2904f;"></i>
            <h3><a href="" class="stretched-link">Windows OS</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1000">
          <div class="features-item">
            <i class="bi bi-ubuntu" style="color: #b20969;"></i>
            <h3><a href="" class="stretched-link">Linux OS</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1100">
          <div class="features-item">
            <i class="bi bi-pencil" style="color: #ff5828;"></i>
            <h3><a href="" class="stretched-link">Vscode</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1200">
          <div class="features-item">
            <i class="bi bi-server" style="color: #29cc61;"></i>
            <h3><a href="" class="stretched-link">Server Admin</a></h3>
          </div>
        </div><!-- End Feature Item -->

      </div>

    </div>

  </section><!-- /Interests Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Projects</h2>
      <div><span>Check my</span> <span class="description-title">Projetcs</span></div>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        
        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="project-item">
            <h3><a href="{{FileAnalyzer}}" class="stretched-link">FileAnalyzer</a></h3>
          </div>
        </div><!-- End Feature Item -->
        
        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="project-item">
            <h3><a href="{{MyWebsite}}" class="stretched-link">My Website</a></h3>
          </div>
        </div> <!--End Feature Item -->

      </div>

    </div>

  </section><!-- /Testimonials Section -->
</main>
{% endblock %}